<ion-header>

</ion-header>


<ion-content class="ion-padding ion-text-center" color="tertiary">
    <img src="../../assets/logo.png" class="logo" />

    <div class="title">
        <h2>BIENVENIDO</h2>
        <p>Disfruta nuestra App</p>
    </div>

    <div class="ion-margin-top">
        <ion-button expand="block" class="ion-margin-top" (click)="register()" fill="outline" color="white">REGISTRATE</ion-button>
        <ion-button expand="block" class="ion-margin-top" (click)="login()" color="white">INICIAR SESION</ion-button>
    </div>


    

</ion-content>

<!--<ion-footer >
        <ion-toolbar class="ion-padding ion-text-center">
            <p>Prueba 1</p>
        </ion-toolbar>
    </ion-footer>
-->

    





